body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
h1 {
  font-size: 72px;
  text-align: center;
}
span {
  display: block;
  text-align: right;
}
input {
  display: block;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 25%;
}
.display {
  display: block;
}
