body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
}
span {
  display: block;
  text-align: right;
  font-size: 15px;
}
h2 {
  text-align: center;
  color: white;
  margin-bottom: 0;
}
input {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
}
input[type=text], input[type=tel], input[type=password] {
  height: 50px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 25%;
  box-shadow: 5px 5px 21px 0 rgba(0,0,0,0.49);
  animation: drop-down 2s ease-in-out;
}
.modal-header {
  background: lightgray;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.display {
  display: block;
}
span:hover {
  cursor: pointer;
  color: lightgray;
}
@keyframes drop-down {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
